.header-container {
  background: #3b4047;
  text-align: center;
  padding: 5px;

  .picture-div {
    border-radius: 50%;
    background-image: url("../../assets/images/jeff.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
}

.info-container {
  text-align: center;
  color: #3b4047;

  .name {
    font-size: 48px;
    font-weight: bold;
  }

  .contact {
    height: 50px;
    line-height: 40px;

    a {
      cursor: pointer;
      color: #3b4047;
    }
  }
}
