.container {
  padding-top: 1vw;

  .name {
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 2.2vw;
  }

  .picture-div {
    border-radius: 50%;
    border: 10px solid #3b4047;
    background-image: url("../../assets/images/jeff.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vw;
    width: 10vw;
    margin: 0 auto;
  }

  .info {
    height: 3vw;
    line-height: 2.2vw;

    .info-link {
      padding: 0.7vw;
    }
  }
}
