.stripe {
  background: #3b4047;
  width: 100%;
  height: 30px;
}

  .name {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
  }

.picture-div {
  border-radius: 50%;
  border: 10px solid #3b4047;
  background-image: url("../../assets/images/jeff.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.info {
  height: 40px;
  line-height: 30px;

  .info-link {
    padding: 10px;
  }
}
