<div class="header-container">
  <div class="picture-div"></div>
</div>
<!--<div class="info-container">-->
<!--  <span class="name">Jeff Toppings</span>-->
<!--  <div class="contact">-->
<!--    <div><b>Email: </b><a href="mailto:jeffrey.toppings@outlook.com">jeffrey.toppings@outlook.com</a></div>-->
<!--    <div><b>LinkedIn: </b><a href="https://www.linkedin.com/in/jeffreytoppings">Jeff Toppings</a></div>-->
<!--    <div><b>Github: </b><a href="https://www.github.com/jefftoppings">Jeff Toppings</a></div>-->
<!--  </div>-->
<!--</div>-->
