.content-container {
  min-height: 50vw;
  
  h1 {
    text-align: center;
    u {
      border-bottom: 10px solid #3b4047;
    }
  }

  p {
    padding: 0 6vw 0.5vw 6vw;
    text-align: left;
  }

  .skills-div {
    .experienced-div {
      padding: 0 2vw 0 2vw;
      vertical-align: top;
      display: inline-block;
    }

    .proficient-div {
      padding: 0 2vw 0 2vw;
      vertical-align: top;
      display: inline-block;
    }

    ul {
      text-align: left;
    }
  }
}
