<div class="content-container">
  <h2><u>Summary</u></h2>
  <p>
    I am currently working as a Software Developer on an internship at Vendasta Technologies in Saskatoon, SK. I have one
    semester of school remaining to complete a Bachelor of Science in Computer Science. Before starting computer science
    in 2017, I completed a degree in Chemical Engineering and worked in various engineering roles. During these jobs, I
    had an opportunity to develop simple software, which inspired me to pursue a career in technology.
  </p>

  <h2><u>Skills</u></h2>
  <div class="skills-div">
    <div class="experienced-div">
      <h4>Experienced</h4>
      <ul>
        <li>HTML, CSS, JavaScript</li>
        <li>Angular</li>
        <li>TypeScript</li>
        <li>Python 2 and 3</li>
        <li>Java</li>
        <li>Version Control: Git</li>
      </ul>
    </div>
    <div class="proficient-div">
      <h4>Proficient</h4>
      <ul>
        <li>Android Development (Java)</li>
        <li>GoLang</li>
        <li>Haskell</li>
        <li>Google Cloud Platform</li>
        <li>Elasticsearch, MySQL, Big Query</li>
      </ul>
    </div>
  </div>

  <h2><u>Technical Work Experience</u></h2>
  <div>
    <div><b>Software Developer, Vendasta Technologies</b></div>
    <div><i>Saskatoon, SK, Canada</i></div>
  </div>

  <h2><u>Personal Projects</u></h2>

</div>
